<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.iwanjunaid.pman"
        version="0.1.2">

    <name>PMan</name>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <asset src="www/pman.js" target="js/pman.js"/>

    <js-module src="www/pman.js" name="pman">
        <clobbers target="pman" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PMan">
                <param name="android-package" value="org.iwanjunaid.pman.PMan"/>
            </feature>
        </config-file>
        <source-file src="src/android/PMan.java" target-dir="src/org/iwanjunaid/pman/"/>
    </platform>
</plugin>
